set_io GBACART_RD                   13
set_io GBACART_CS                   15
set_io GBACART_AD[0]                 1
set_io GBACART_AD[1]                 2
set_io GBACART_AD[2]                 3
set_io GBACART_AD[3]                 4
set_io GBACART_AD[4]                 7
set_io GBACART_AD[5]                 8
set_io GBACART_AD[6]                 9
set_io GBACART_AD[7]                10
set_io GBACART_AD[8]                12
set_io GBACART_AD[9]                16
set_io GBACART_AD[10]               18
set_io GBACART_AD[11]               19
set_io GBACART_AD[12]               20
set_io GBACART_AD[13]               21
set_io GBACART_AD[14]               24
set_io GBACART_AD[15]               25
set_io write_en                     72
set_io wclk                         71
set_io din[0]                       28
set_io din[1]                       27
set_io buttons[0]                   69 # Button A
set_io buttons[1]                   68 # Button B
set_io buttons[2]                   74 # Right
set_io buttons[3]                   73 # Left
set_io buttons[4]                   29 # Up
set_io buttons[5]                   26 # Down
set_io clk                          90 # Onboard 66MHz oscillator
